<header-general-component></header-general-component>

<br>
<div class="mt-5"> </div>
<nav class="breadcrumb">
    <a [routerLink]="['/course-overview/',courseName]" class="breadcrumb-item">{{courseName}}</a>
    <span class="breadcrumb-item active">{{subjectName}}</span>
</nav>

<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12" id="contents-tab">
                <ngb-tabset justify="fill" (tabChange)="getContents($event)" [destroyOnHide]="false">

                    <!-- Contents -->
                    <ngb-tab id="contents" title="Contents">
                        <ng-template ngbTabContent>

                            <moodle-contents-component [courseName]='courseName' [subjectName]='subjectName' (refreshSubject)="generatePage()"></moodle-contents-component>

                        </ng-template>
                    </ngb-tab>

                    <!-- Evaluation  -->
                    <ngb-tab id="evaluation" title="Evaluation" >
                        <ng-template ngbTabContent>
                                <moodle-evaluation-component [courseName]='courseName' [subjectName]='subjectName'></moodle-evaluation-component>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab id="progress" title="Progress">
                        <ng-template ngbTabContent>
                            <moodle-progress-component [courseName]='courseName' [subjectName]='subjectName'></moodle-progress-component>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab id="teachers" title="{{teachersPanel}}">
                        <ng-template ngbTabContent>
                                <span class="pl-3 py-1 tab-title"> {{teachersPanel}}</span>

                            <ul class="list-group">
                                    
                                        <!-- Item -->
                                        <a *ngFor="let user of listUsers" class="item-content" class="nav-link" [routerLink]="['/users',user.internalName,'profile']">
                                            <li class="list-group-item">
                                            <img class="img-fluid img-profile rounded-circle mx-auto mb-2 offset-md-2" style="width:64px;height:64px" src="{{URL}}/profileimg/{{user.internalName}}" alt="profileImg"> 
                                            <span class = "ml-5">User : {{user.username}}</span> 
                                            </li>
                                        </a>
                                        
                                    </ul>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>
    </div>





</section>